* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

body {
    background-color: #0b1139;
}

header {
    position: relative;
    padding: 1.50rem 1rem;
    display: grid;
    gap: 20px;
    width: 100%;
    height: 100%;
    background-color: #101852;
    font-weight: bold;
}

header .barra_nav {
    display: flex;
    justify-content: space-between;
}

header .barra_nav .logo {
    color: white;
    font-size: 2rem;
}

header .barra_nav .logo:hover {
    cursor: pointer;
    scale: 1.05;
}

header .barra_nav .links {
    display: flex;
    margin: auto;
    list-style: none;
    gap: 50px;
}

header .barra_nav .links a {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    outline: none;
}

header .barra_nav .links a:hover {
    background-color: lightcoral;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: all 0.2s linear 0s;
}

header .barra_nav .login {
    margin: auto;
    background-color: lightcoral;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    outline: none;
}

header .barra_nav .login:hover {
    scale: 1.05;
    transition: all 0.2s linear 0s;
}

header .barra_nav .menu_btn {
    display: none;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 2rem;
}

header .barra_nav .menu_btn:hover {
    cursor: pointer;
    scale: 1.05;
}

main .jumbotron {
    background-color: #0b1139;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .jumbotron .jumbo_img {
    justify-content: flex-start;
    width: 100%;
    height: 470px;
    position: relative;
	background-size: cover;
	background-position: center center;
    overflow: hidden;
}

main .jumbotron .jumbo_txt {
    justify-content: flex-end;
    padding: 1rem 0.5rem 1rem;
    margin: 30px;
}

main .jumbotron .jumbo_txt .p_1 {
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

main .jumbotron .jumbo_txt .p_2 {
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

main .jumbotron .jumbo_txt .contenedor_sub {
    display: flex;
    background-color: white;
    scale: 1rem;
    height: 50px;
    border: 2px;
    border-radius: 10px;
    outline: 2px;
}

main .jumbotron .jumbo_txt .contenedor_sub .suscribir_bar {
    margin: 10px;
    width: 100%;
    scale: 1rem;
    border: 2px;
    border-radius: 2px;
    outline: 2px;
    font-size: 15px;
    font-family: 'Lucida Console';
}

main .jumbotron .jumbo_txt .contenedor_sub .suscribir_btn {
    background-color: #0b1139;
    width: 200px;
    
    color: white;
    font-size: 17px;
    font-family: 'Lucida Console';
    
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 4px;
}

main .jumbotron .jumbo_txt .contenedor_sub .suscribir_btn:hover {
    background-color: lightcoral;
    scale: 0.95;
    transition: all 0.2s linear 0s;
}

main .jumbotron .jumbo_txt .contenedor_sub .suscribir_btn:active {
    scale: 0.90;
    background-color: #0b1139;
}

main .blog {
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: 100%;
    padding: 5rem 0.5rem 5rem 0.5rem;
}

main .blog .blog_hdr {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
    align-items: center;
    justify-items: center;
}

main .blog .blog_hdr p {
    font-size: 23px;
    text-align: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

main .blog .blog_cnt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

main .blog .blog_cnt .plan {
    box-shadow: 0px 5px 7px 5px lightgray;
    color: #101852;
    background-color: rgb(252, 252, 252);
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    width: 270px;
    height: 510px;
    gap: 20px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

main .blog .blog_cnt .plan:hover {
    scale: 1.05;
    transition: all 0.2s linear 0s;
}

main .blog .blog_cnt .plan_img {
    display: flex;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 8rem;
    width: 90%;
    height: 90%;
}

main .blog .blog_cnt .plan_txt {
    padding: 1rem;
    text-align: left;
    justify-content: center;
    color: black;
}

main .blog .blog_cnt .plan_txt p:first-child {
    font-size: 1.1rem;
    font-weight: bolder;
}

main .blog .blog_cnt .plan_btn {
    position: absolute;
    padding-bottom: 1rem;
    bottom: 0;
    justify-content: center;
}

main .blog .blog_cnt .plan_btn .btn {
    background-color: #0b1139;
    width: 200px;
    height: 45px;
    
    color: white;
    font-size: 20px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 0px;
}

main .blog .blog_cnt .plan_btn .btn:hover {
    border-color: lightcoral;
    color: lightcoral;
    transition: 0.2s linear;
    scale: 1.05;
}

main .blog .blog_cnt .plan_btn .btn:active {
    scale: 0.95;
}

main .adicional {
    width: 100%;
    height: 100%;
    background-color: #101852;
    padding: 3rem 1rem 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

main .adicional .adicional_hdr {
    padding-left: 5rem;
    padding-bottom: 2rem;
}

main .adicional .adicional_hdr p {
    color: white;
    font-size: 18px;
    text-align: left;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

main .adicional_hdr .adic_btn {
    margin: 10px;
    background-color: #0b1139;
    width: 180px;
    height: 40px;
    
    color: white;
    font-size: 16px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 0px;
}

main .adicional_hdr .adic_btn:hover {
    background-color: lightcoral;
    transition: 0.2s linear;
    scale: 1.05;
}

main .adicional_cnt {
    align-items: center;
    text-align: center;
}

main .adicional_cnt img {
    width: 500px;
    background-position: center center;
}

footer .foot_top {
    background-color: rgb(252, 252, 252);
    padding: 2rem 2rem 6rem 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

footer .cnt_foot_izq {
    gap: 30px;
    display: flex;
    justify-content: left;
}

footer .cnt_foot_izq i {
    color: rgb(179, 179, 179);
    font-size: 2rem;
}

footer .cnt_foot_izq i:hover {
    color: gray;
    transition: all 0.2s linear 0s;
}

footer .cnt_foot_der {
    justify-content: right;
    gap: 5rem;
    display: flex;
}

footer .cnt_foot_der .foot_ul {
    list-style: none;
    color: rgb(179, 179, 179);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

footer .cnt_foot_der .foot_li {
    font-weight: normal;
}

footer .cnt_foot_der .foot_li:hover {
    font-weight: normal;
    color: gray;
    transition: all 0.2s linear 0s;
}

footer .foot_low {
    background-color: rgb(252, 252, 252);
    padding: 2rem 2rem 2rem 2rem;
}

footer .foot_low p {
    color: rgb(179, 179, 179);
    text-align: center;
}

@media (max-width: 1024px) {
    main .blog .blog_cnt {
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    main .blog .blog_cnt .plan {
        margin: 20px;
    }
}

@media (max-width: 900px) {
    header {
        padding: 0.5rem 1rem;
    }

    header .barra_nav .links,
    header .barra_nav .login {
        display: none;
    }

    header .barra_nav .logo {
        display: flex;
        margin: 0;
        padding: 0.5rem 1rem;
    }

    header .barra_nav .menu_btn {
        display: flex;
    }

    main .jumbotron {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    main .jumbotron .jumbo_img {
        font-size: 5rem;
        height: 300px;
    }

    main .jumbotron .jumbo_txt .p_1 {
        font-size: 12px;
    }

    main .jumbotron .jumbo_txt .p_2 {
        font-size: 12px;
    }

    main .jumbotron .jumbo_txt .contenedor_sub {
        height: 30px;
        font-size: 0.7rem;
    }

    main .jumbotron .jumbo_txt .contenedor_sub .suscribir_bar {
        font-size: 0.7rem;
    }

    main .jumbotron .jumbo_txt .contenedor_sub .suscribir_btn {
        width: 150px;
        font-size: 0.5rem;
    }

    main .blog .blog_cnt {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    main .blog .blog_cnt .plan {
        margin: 20px;
    }

    main .adicional {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    main .adicional .adicional_hdr {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    main .adicional_hdr .adic_btn {
        margin-right: 0px;
        width: 160px;
    }

    main .adicional_cnt img {
        width: 100%;
    }

    footer .foot_top {
        padding: 2rem 2rem 2rem 2rem;
        grid-template-columns: none;
        gap: 20px;
    }

    footer .cnt_foot_izq {
        justify-content: center;
    }

    footer .cnt_foot_der {
        justify-content: space-between;
        display: grid;
    }

    footer .cnt_foot_der .foot_ul {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}